<div class="campaign-card">
  <%= cl_image_tag c.product_image, height: 300, width: 500, crop: :fill %>
  <div class="user-box">
  <%= image_tag "user_avatar.png", class: "designer-avatar" %>
  <%= c.user.email %>
  </div>
  <div class="campaign-stats">
    <p><span class="amount-collected neat-black">1400€</span><span> collectés</span></p>
    <p><span class="amount-collected neat-black">70</span> Tshirts vendus</p>
    <p><span class="amount-collected neat-black"> 3 jours et 2 heures</span>restants</p>
  </div>


  <p><%= c.product_name %></p>
  <p><%= c.product_desc %></p>

</div>

